.search-form {
    display: inline-block;
    position: relative;
    left: 0;

    &--centered {
        left: 50%;
        transform: translate(-50%, calc(100vh / 2 - 140px));
    }
    &__title {
        font-size: 25px;
        margin: 0 0 10px;
    }

    &__desc {
        margin-top: 0;
        font-size: 15px;
        color: #a2a2a2;
    }

    &__text-input {
        width: 280px;
        border: 1px solid #a2a2a2;
        padding: 12px;
        font-size: 16px;
    }

    &__select-input {
        border: 1px solid #a2a2a2;
        padding: 12px;
        font-size: 16px;
        margin-left: 10px;
    }
}